{% extends 'base.html.twig' %}
{% block title %}
To Do List
{% endblock %}
{% block body %}
  <div class="header">
    <h2>To Do List</h2>
    <form method="POST" action="{{path('create_task')}}">
      <input name="title" type="text" id="myInput" placeholder="Task title..." />
      <button type="submit" class="addBtn">Add a task</button>
    </form>
    {#
    This is the Button for changing the order direction
    Error: An exception has been thrown during the rendering of a template ("Unable to generate a URL for the named route "order_switch" as such route does not exist.").
    {# <form method="POST" action="{{path('order_switch')}}">
      <button type="submit" class="addBtn">Change Order Direction</button>
    </form>  #}
  </div>
  <ul>
{% for task in tasks %}
    <li {% if task.status%}class="checked"{% endif %}>
        <a href="{{path('switch_status',{'id':task.id})}}">
          <span class="task-list-item">{{task.title}}</span>
        </a>
        <a onclick="return confirm('Are you sure?')" href="{{path('task_delete',{'id':task.id})}}">
            <span class="close">X</span>
        </a>
    </li>
{% endfor %}
  </ul>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}
